@charset "utf-8";
/* CSS Document */

/*标题*/
.title>.col-xs-12{font-size:18px; padding: 0 20px;
  border-bottom: 1px solid #eee;
  color:#666; height:50px; line-height:50px;}

.row p{font-size:16px; font-weight:200;}

h4{font-weight:bold !important;}