@charset "utf-8";
.import-title-div {
        height: 80px;
        line-height: 80px;
        font-size: 18px;
        margin-left: -30px!important;
        margin-right: -30px!important;
        border-bottom: 1px solid #ddd;
}
.import-btn-submit > .col-xs-12 > .btn-primary {
        color: #fff!important;
        background-color: #1188F6!important;
        border-color: #1188F6!important;
        border-radius: 2px!important;
}
.import-btn-submit > .col-xs-12 > .btn {
        padding: 8px 20px!important;
}
.register-date {
        width: 85px!important;
        padding-right: 0px!important;
        height: 34px;
        line-height: 34px;
}
.table > thead > tr > th {
        vertical-align: bottom;
        height: 36px;
        line-height: 36px!important;
        background-color: #F7F7F7;
        border-bottom: 0!important;
        padding-left: 10px!important;
}
.register-table > tbody > tr > th, .register-table > tfoot > tr > th, .register-table > tbody > tr > td, .register-table > tfoot > tr > td {
        height: 36px;
        line-height: 36px!important;
        border-top: 0!important;
        border-bottom: 1px solid #ddd;
}
.register-search > .col-xs-2 > .btn-primary {
        color: #fff!important;
        background-color: #1188F6!important;
        border-color: #1188F6!important;
        border-radius: 2px!important;
}
.register-search > .col-xs-2 > .btn {
        padding: 6px 20px!important;
}




