@charset "utf-8";
.import-title-div {
        height: 80px;
        line-height: 80px;
        font-size: 18px;
        margin-left: -30px!important;
        margin-right: -30px!important;
        border-bottom: 1px solid #ddd;
}
.import-title-div > .col-xs-6 > .btn-primary {
        color: #fff!important;
        background-color: #1188F6!important;
        border-color: #1188F6!important;
        border-radius: 2px!important;
}
.import-title-div > .col-xs-6 > .btn {
        padding: 6px 20px!important;
}
.member-down-btn {
        border: 1px solid #1188F6!important;
        color: #1188F6!important;
        margin-right: 30px!important;
}
.import-img-tip {
        width: 30px;
        margin-top: 8px;
        margin-left: 5px;
}
.import-tip {
        border: 1px solid #d2e9fd;
        background: #ecf6fe;
        border-radius: 4px;
        width: 940px;
        height: 142px;
        white-space: nowrap;
        font-size: 12px;
        margin-top: 20px;
        padding: 8px 15px;
}
.width-img {
        width: 52px;
        height: 142px;
        float: left;
}
.width-font p {
        margin: 6px 0!important;
}
.table-date {
        padding: 10px 15px;
        font-size: 14px;
        color: #666666;
}
.import-table-295 {
        width: 295px;
}
.import-table-170 {
        width: 170px;
}
.import-table-330 {
        width: 330px;
}
.import-table-142 {
        width: 142px;
}
.import-table-th {
        border-radius: 4px 4px 0 0;
        background: #f5f5f5;
        height: 50px;
        line-height: 50px;
        color: #333333;
}
.import-table > thead > tr > th {
        border-bottom: 0!important;
        padding: 15px 8px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 0!important;
        border-bottom: 1px solid #ddd;
        padding: 16px 8px!important;
}
.modal-import img {
        width: 18px;
        margin-right: 3px;
        margin-top: -2px;
}
.modal-import-tip {
        padding: 10px 30px;
        border: 1px solid #d2e9fd;
        background-color: #ecf6fe;
        font-size: 12px;
        margin-bottom: 15px;
}
.border-b-1 {
        border-bottom: 1px solid #e5e5e5;
}
.margin-r-15 {
        margin-right: 15px;
}
.import-btn-submit {
        border-top: 1px solid #e5e5e5;
        padding-top: 15px;
}
.import-btn-submit > .col-xs-12 > .btn-primary {
        color: #fff!important;
        background-color: #1188F6!important;
        border-color: #1188F6!important;
        border-radius: 2px!important;
}
.import-btn-submit > .col-xs-12 > .btn {
        padding: 8px 20px!important;
}






