@charset "utf-8";
/* CSS Document */
.wrap{width:100%;}
.content{width:1000px;background:#fff; margin:auto;}
.top-text{ 
width:100%;

margin:auto;
padding-left:30px;
border-bottom:hidden;
}




.top-text{font-size:18px;
color:#333;
line-height:80px;
height:80px;
  margin-bottom: 30px;
}
/*以上是头部修饰*/

td a{color:#1188f6; cursor: pointer;}
td a:hover{color:#1188f6 !important; text-decoration:none !important;}