@charset "utf-8";
/* CSS Document */
.wrap{width:100%;}
.content{width:1000px;background:#fff; margin:auto;}
.top-text{ 
width:124% !important;
  margin-left: -84px !important;
margin:auto;
padding-left:30px;
border-bottom:1px solid #eee;
}




.top-text{font-size:18px;
color:#333;
line-height:80px;
height:80px;

}
.sign-up-t{color:#888;}
.top-title{margin-left:30px;
font-size:14px;
color:#888;
border-left:4px solid #36F;
padding-left:10px;
margin-top:10px;
margin-bottom:10px;
}
/*以上是签约管理>去签约修饰*/
.list0{margin-left:50px !important;}


/*[class*=am-u-].am-u-sm-centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}*/

.am-u-sm-12 {
  width: 100%;
}

[class*=am-u-] {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

i{
  font-style: italic;
}


.status .pointer-events {
  pointer-events: none;
}
.status .nav {
  list-style: none;
  margin: 0 auto;
  height: 90px;
  min-width: 1024px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.status .nav .active {
  color: #545454;
}
.status .nav a {
  margin-top: 20px;
}
.status .nav a {
  float: left;
  display: block;
  height: 60px;
  line-height: 60px;
  width: 300px;
  position: relative;
  margin: 0;
  margin-top: 30px;
  color: #b4b4b4;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
.nav li>a {
  display: block;
  font-size: 14px;
  /* white-space: nowrap; */
}
.nav > li > a {
  color: #333333;
  font-weight: 400;
  padding: 14px 20px 14px 25px;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
a {
  color: #0e90d2;
}
a, ins {
  text-decoration: none;
}
a {
  background-color: transparent;
}
a, a:hover {
  color: #1188f6;
}
a, a:focus, a:hover, a:link {
  text-decoration: none;
  cursor: pointer;
  color: #1188f6;
}
a {
  cursor: pointer;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.status .nav .active span {
  background: #1cdcdb;
  color: #ffffe6;
}
.status .nav a span {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: auto 2px;
  text-align: center;
  border-radius: 100%;
  background: #d1d1d1;
}


.greenborder {
  left: 40px;
  bottom: -2px;
  height: 3px;
  width: 220px;
  background: #1cdcdb;
}
.status .grayborder, .status .greenborder {
  content: "";
  display: inline-block;
  position: absolute;
}

.am-u-end p{border-top:hidden; padding-top:0px !important;}
.pointer-events{border-bottom:2px solid #eee;}


 td{vertical-align:top;}
 
 .col-xs-4{text-align:center;}

.first-line{margin-top:60px;}
.second-line>.col-xs-4{font-size:30px; margin-top:28px;color:#666;}
.third-line>.col-xs-4{color:#666;}
.sign-btn a{color:#fff;}
.btn2 a{color:#1188f6;}
.btn{margin-top:20px; width:200px;}